/* Element Changes */
html,
body {
    font-family: "Helvetica", "Ariel";
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    position: relative;
    bottom: 0;
    margin: 2%;
}

#backgroundInfo {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
}

#wrapper {
    margin-top: 1%;
    padding: 5%;
}

#banner {
    padding: 1%;
}
