/* Element Changes */
html,
body {
    font-family: "Helvetica", "Ariel";
    height: 100vh;
    background-color: white;
    overflow: auto;
}

#map {
    margin: 2%;
    margin-top: 5%;
    padding: 2%;
    
}

#map-image {
    box-shadow: 10px 10px 5px grey;
}

#forms {
    margin: 2%;
    margin-top: 5%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.349);
    box-shadow: 10px 10px 3px rgb(34, 34, 34);
}
/* --------GRID-------- */
.wrapper {
    position: relative;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 40% 60%;
}

.heading {
    padding: 5%;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 3;
}

.grid-item {
    /* border: 1px solid black; */
}

#one {
    grid-column: 1 / 1;
    grid-row: 2;
}

#two {
    grid-column: 2 / 2;
    grid-row: 2;
}

/*-------------NAVBAR------------------ */
.dropdown:hover>.dropdown-menu {
    display: block;
    font-weight: 800;
    border: 1px solid black;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    display: inline;
    padding-right: 1rem;
}