/* Element Changes */
html,
body {
    font-family: "Helvetica", "Ariel";
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#map {
    margin: 2%;
    margin-top: 5%;
    padding: 2%;
    
}

#map-image {
    box-shadow: 10px 10px 5px grey;
}

#forms {
    margin: 2%;
    margin-top: 5%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius:30px;
    box-shadow: 10px 10px 5px grey;
}

/*-------------NAVBAR------------------ */
.dropdown:hover>.dropdown-menu {
    display: block;
    font-weight: 800;
    border: 1px solid black;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    display: inline;
    padding-right: 1rem;
}