/* Element Changes */
html,
body {
    font-family: "Helvetica", "Ariel";
    height: 100vh;
    width: 100vw;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p {
    font-size: 20px;
}

footer {
    width: 100%;
    padding: 1%;
    position: fixed;
    bottom: 0;
}

/* Changes to Wrapper Container */
#wrapper {
    padding: 0 3rem;
}

#wrapper>h1,
.conatiner>h2 {
    font-weight: 200;
    margin: 0.2rem;
}

#wrapper>h1 {
    font-size: 10rem;
}

#wrapper>h2 {
    font-size: 2rem;
}

/* ------------------------------------- */


/*-------------NAVBAR------------------ */
.dropdown:hover>.dropdown-menu {
    display: block;
    font-weight: 800;
    border: 1px solid black;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    display: inline;
    padding-right: 1rem;
}

#banner {
    text-shadow: 4px 4px 4px black;
    margin-top: 25%;
    margin-left: 5%;
}

#contact {
    background-color: gray;
    padding: 2%;
}

#about {
    opacity: 0;
}

/* -----------PRELOADER----------- */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ------------------ANIMATIONS----------------- */
.slide-top {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200px);
    }
}

.slide-down {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
}