/* Site Master Stylesheet */

/* Element Changes */
html,
body {
    font-family: "Bookman", "Ariel";
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

p {
    font-size: 20px;
}

footer {
    padding: 1%;
}
/* ------------------------------------- */


/* Changes to Wrapper Container */
#wrapper {
    padding: 0 3rem;
    margin-bottom: 50%;
}

#wrapper>h1,
.conatiner>h2 {
    font-weight: 200;
    margin: 0.2rem;
}

#wrapper>h1 {
    font-size: 10rem;
}

#wrapper>h2 {
    font-size: 2rem;
}
/* ------------------------------------- */

/* Class Changes */
h1.display-4 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 1000;
    text-shadow: -3px 3px 10px rgb(250, 253, 222);
    letter-spacing: 30px;
    font-size: 64px;
    margin: 0;
    background: rgb(246, 248, 249);
    background: -moz-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=0);
}

.dropdown:hover>.dropdown-menu {
    display: block;
    font-weight: 800;
    border: 1px solid black;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    display: inline;
    padding-right: 1rem;
}

.banner {
    text-shadow: 4px 4px 4px black;
    margin-top: 25%;
    margin-bottom: 50%;
    margin-left: 5%;
}

.txt-type>.txt {
    /* border-right: 0.2rem solid #777; */
    border-bottom: 1px solid white;
}
/* ------------------------------------- */


/* ID Changes */

#about {
    background-color: rgba(0, 0, 0, 0.75);
    background-clip: inherit;
    padding: 5%;
    margin-bottom: 50%;
}